{% import "../../shared/effect/effect1/effect1.twig" as effect1 %}
{% import "../../shared/effect/effect2/effect2.twig" as effect2 %}
{% import "../../shared/effect/effect3/effect3.twig" as effect3 %}
{% import "../../shared/effect/effect4/effect4.twig" as effect4 %}
{% import "../../shared/effect/effect5/effect5.twig" as effect5 %}
{% import "../../shared/effect/effect6/effect6.twig" as effect6 %}
{% import "../../shared/effect/effect7/effect7.twig" as effect7 %}
{% import "../../shared/effect/effect8/effect8.twig" as effect8 %}
{% import "../../shared/effect/effect9/effect9.twig" as effect9 %}
{% import "../../shared/effect/effect11/effect11.twig" as effect11 %}
{% import "../../shared/effect/effect12/effect12.twig" as effect12 %}
{% import "../../shared/effect/effect13/effect13.twig" as effect13 %}
{% import "../../shared/effect/effect14/effect14.twig" as effect14 %}
{% import "../../shared/effect/effect15/effect15.twig" as effect15 %}
{% import "../../shared/effect/effect16/effect16.twig" as effect16 %}
{% import "../../shared/effect/effect17/effect17.twig" as effect17 %}
{% import "../../shared/effect/effect18/effect18.twig" as effect18 %}
{% import "../../shared/effect/effect20/effect20.twig" as effect20 %}
{% import "../../shared/effect/effect21/effect21.twig" as effect21 %}
{% import "../../shared/effect/effect22/effect22.twig" as effect22 %}
{% import "../../shared/effect/effect23/effect23.twig" as effect23 %}
{% import "../../shared/effect/effect24/effect24.twig" as effect24 %}
{% import "../../shared/effect/effect25/effect25.twig" as effect25 %}
{% import "../../shared/effect/effect26/effect26.twig" as effect26 %}

<section class="page-section">
	<div class="container" style="padding-bottom: 50px;">
		<div class="row">
			<div class="col-lg-4">
				{{effect1.render()}}
			</div>
			<div class="col-lg-4">
				{{effect1.render()}}
			</div>
		</div>
		<h3>Honey</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect2.render()}}
			</div>
			<div class="col-lg-4">
				{{effect2.render()}}
			</div>
		</div>
		<h3>Marley</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect3.render()}}
			</div>
			<div class="col-lg-4">
				{{effect3.render()}}
			</div>
		</div>
		<h3>Sarah</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect4.render()}}
			</div>
			<div class="col-lg-4">
				{{effect4.render()}}
			</div>
		</div>
		<h3>Ruby</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect5.render()}}
			</div>
			<div class="col-lg-4">
				{{effect5.render()}}
			</div>
		</div>
		<h3>Roxy</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect6.render()}}
			</div>
			<div class="col-lg-4">
				{{effect6.render()}}
			</div>
		</div>
		<h3>Chico</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect7.render()}}
			</div>
			<div class="col-lg-4">
				{{effect7.render()}}
			</div>
		</div>
		<h3>Milo</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect8.render()}}
			</div>
			<div class="col-lg-4">
				{{effect8.render()}}
			</div>
		</div>
    <h3>Dexter</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect9.render()}}
			</div>
			<div class="col-lg-4">
				{{effect9.render()}}
			</div>
		</div>
    <h3>Hera</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect11.render()}}
			</div>
			<div class="col-lg-4">
				{{effect11.render()}}
			</div>
		</div>
    <h3>Winston</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect12.render()}}
			</div>
			<div class="col-lg-4">
				{{effect12.render()}}
			</div>
		</div>
    <h3>Terry</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect13.render()}}
			</div>
			<div class="col-lg-4">
				{{effect13.render()}}
			</div>
		</div>
    <h3>Romeo</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect15.render()}}
			</div>
			<div class="col-lg-4">
				{{effect15.render()}}
			</div>
		</div>
    <h3>Moses</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect16.render()}}
			</div>
			<div class="col-lg-4">
				{{effect16.render()}}
			</div>
		</div>
    <h3>Apollo</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect17.render()}}
			</div>
			<div class="col-lg-4">
				{{effect17.render()}}
			</div>
		</div>
    <h3>Phoebe</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect18.render()}}
			</div>
			<div class="col-lg-4">
				{{effect18.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 1</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect20.render()}}
			</div>
			<div class="col-lg-4">
				{{effect20.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 2</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect21.render()}}
			</div>
			<div class="col-lg-4">
				{{effect21.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 3</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect22.render()}}
			</div>
			<div class="col-lg-4">
				{{effect22.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 4</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect23.render()}}
			</div>
			<div class="col-lg-4">
				{{effect23.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 5</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect24.render()}}
			</div>
			<div class="col-lg-4">
				{{effect24.render()}}
			</div>
		</div>
    <br/><br/>
    <h3>Caption Hover Effects 6</h3>
    <div class="row">
			<div class="col-lg-4">
				{{effect25.render()}}
			</div>
			<div class="col-lg-4">
				{{effect25.render()}}
			</div>
		</div>
    <h3>Caption Hover Effects 7</h3>
    <div class="row" >
			<div class="col-lg-4">
				{{effect26.render()}}
			</div>
			<div class="col-lg-4">
				{{effect26.render()}}
			</div>
		</div>
	</div>

</section>
